apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: fe-server
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: 1-deploy-server
    spec:
      containers:
      - name: fe-server
        image: fernandoe/fe-server:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
